* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  
  }
  
  html, body {
    height: 100%;
    font-size: 70%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    font-family:  'Roboto''Quicksand', 'Mulish', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      color: black;
      background-color: white;

      /* background: #536dfc;  /* fallback for old browsers */
      /* background: -webkit-linear-gradient(to left, #ffffff, #536dfc);  
      background: linear-gradient(to left, #ffffff, #536dfc);   */



    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   }
   
   /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  body{
    box-sizing: border-box;
    /* background-image: linear-gradient(to bottom, rgba(136, 152, 245, 0.52), rgba(45, 189, 64, 0.521));
    back
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: right; */
  }
  
  .container{
    width: 100vw;
    margin: auto;
  
  }
  
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }1
  

  .heading-paragraph{
    display: inline-block;
    width: 100%;
  }

  
  .main-img{
   margin: auto; 
   float: right;
  }
  #sub-title{
    text-shadow: 2px 2px 4px #00000088;
  }
  
  .sub-main{
    padding: 15px;
    /* text-shadow: 2px 2px 4px #00000033; */
  }

 
  
  #sign-button{
    margin: 100px auto;
    padding: 0 20px;
    display: inline-block;
    border:#fbdc8e 3px solid;
    border-radius: 30px;
    font-size: 2rem;
  }


   #banner{
    width: 100vw;
    height: 600px;
    background-color:#fbdc8e;

  } 
  .banner-header{
    text-align: center;
    margin: 5px 0;
  }
  .banner-title{
    margin: 1% 0;
    padding: 10px 0;
    font-family: 'Open Sans';
    color: rgb(39, 39, 39);
  }

  .row-1{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
  }

  .card {
    margin: 25px auto;
    border: 20px;
    /* border-radius: 15px;  */
    background-color: rgba(255, 255, 255, 0.938);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.678);
    width: 20%;
    height: 85%;
    transition: 0.3s;
    text-align: center;
   
  }
   
  /* Add rounded corners to the top left and the top right corner of the image */
  .img-card {
    margin: 40px;
    border-radius: 5px 5px 0 0;
}
 .card-paragraph {
  margin: auto;
  padding: 5%;
  height: auto;

}
.display-banner{
  margin: 3% 0;
  width: 100vw;
  height: 700px;
  background-image: url(img/todo-list.jpeg);

}

.display-banner-header{
  text-align: center;
  }
.display-img{
  width: 100%;
}
  

.display-paragraph{
  display: inline-block;
  margin: auto;
  height: auto;
  
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  